*{
    
    margin: 0px;
    padding: 0px;
}
.navbar{
    
    padding:10px;
    display: flex;
    background-color:#171717;
    align-items: center;
    justify-content: space-between;
}
.navbar .odinrecepies{
    letter-spacing:2px;
    font-family: 'The Nautigal', cursive;
    font-size:70px;
    font-weight: 900;
    margin-left:50px;
    color:#fff;
}
.navlinks ul{
    padding-top:20px;
    display:flex;
    list-style-type: none;
}
.navlinks ul li{
    
    margin-right:20px;
}
.navlinks ul li a{
    flex:1;
    color:#fff;
    font-weight:60;
    font-size: 18px;
    text-decoration:none;
    transition:0.6s;
}
.navlinks ul li a:hover{
    color:#22C643
}
.details{
    display:flex;
    position:absolute;
    width:70%;
    top:80%;
    left:50%;
    transform:translate(-50%,-50%);
    gap:50px;
    padding-bottom:40px;
}
.details:hover > p{
    background-color:rgba();
    box-shadow: 10px 10px 10px 0px #888888;
}
.details p{
    flex:1 0 ;
    text-align:center;  
    font-size:30px;  
    line-height:50px;
}
.details img{
    height:300px;
    width:300px;
    flex:0 1 200px;
}
